html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: grey;
}

#map {
  bottom: 0px;
  height: 100%;
  left: 300px;
  top: 60px;
  position: absolute;
  right: 0px;
}

#title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 17px;
  padding-right: 40px;
  padding-top: 40px;
  position: relative;
  top: 13px;
}

#menuIcon {
  top: 56px;
  left: 4px;
  position: relative;
  z-index: 99999;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

#menuIcon:hover {
  background: white;
  color: black;
}

#menu {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 25px;
}

#filter {
  padding-bottom: 10px;
}

#filterBtn {
  background: #4286f4;
  height: 25px;
  border: none;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

i {
  padding-right: 2px;
}

li {
  padding-bottom: 20px;
}

li:hover {
  color: white;
}

input {
  height: 20px;
  width: 200px;
  border-width: 2px;
  border-color: #4286f4;
  border-right: 0;
  margin-right: -7px;
  border-style: solid;
  border-bottom-width: 1px;
  outline-width: 0;
  margin-left: 8px;
}

#locations {
  list-style-type: none;
  padding: 0;
  padding-left: 8px;
  cursor: pointer;
}
